<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/success">COCO NUT</a>
<!--         <div class="alert alert-success">
          <strong>Success!</strong> Indicates a successful or positive action.
        </div> -->

    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu message-dropdown">
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong><%= user.name  %></strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Smith</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                            <span class="pull-left">
                                <img class="media-object" src="http://placehold.it/50x50" alt="">
                            </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Smith</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-footer">
                    <a href="#">Read All New Messages</a>
                </li>
            </ul> -->
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu alert-dropdown">
                <li>
                    <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">View All</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= user.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" class="Profile"><i class="fa fa-fw fa-user "></i> Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav side-nav">
            <li>
                <div class="row">
<!--                     <a><%= user.uni_department%></a>
 -->                    <!-- <a><%= user.university%></a>-->
                    <div class="col-xs-2 col-sm-2 col-md-2">
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <div class="row text-center">
                            <br>
                            <img src=<%=user.photo%> alt="" class="img-circle profile_img img-center" style="height:115px ; margin-left: 30px;">
                            <br>
                            <br>
                            <p class="no-margin">
                                <strong style="color : #fff; margin-left: 30px;">
                                    <%= user.university%> 
                                </strong >
                            </p>
                            <p class="no-margin">
                                <small style="color : #fff; margin-left: 30px;">
                                    <%= user.uni_department%>
                                </small>
                            </p>
                        </div>
                        <div class="row">
                            
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                    </div>
                    
<!--                      <strong>John Smith</strong>
                        <span class="pull-right text-muted">
                            <em>Today</em>
                        </span>
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipiscing.
                        <br />
                        <span class="label label-primary">Important</span>  -->
<!--                     <div class="col-xs-6 col-sm-6 col-md-6">
                         <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px; "></a> <a><%= user.university%></a>
                         <br>
                         <a><%= user.uni_department%></a>
                    </div> -->
                </div>

            </li>
            <li class="divider"></li>

            <li class="active">
                <a href="#" class="Profile"><i class="fa fa-fw fa-dashboard"></i> Profile</a>
            </li>
<!--             <li>
                <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
            </li>
            <li>
                <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
            </li>
            <li>
                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
            </li>
            <li>
                <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
            </li> -->

<!--         <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
            </li> -->
            <li>
                <a href="#" id="addNewCourseBtn"><i class="fa fa-fw fa-plus-square"></i> Add New Course</a>
            </li>

            <li>
                <a href="#" id="addJoinCourseBtn"><i class="fa fa-users"></i>&nbsp;  Join Other Course</a>
            </li>
            <!-- Showing all own course -->
            <% for(var i=0; i<CourseData.datas.ownCourses.length;i++){%>
            <li>     
                <a href="javascript:;" data-toggle="collapse" data-target=<%="#"+CourseData.datas.ownCourses[i].courseID+"col"%>>
                        <i class="fa fa-folder-open"></i>
                        <%=CourseData.datas.ownCourses[i].courseName%>
                        <i class="fa fa-fw fa-caret-down"></i>
                        <span class="badge">
                            <%=CourseData.datas.ownCourses[i].NoteData.length%>      
                        </span>
                        <h6><span class="label label-pill label-danger ">Own</span></h6>
                <div class="span12 text-center">
                </div>
                </a>
                <ul>
                </ul>
                <ul id=<%=CourseData.datas.ownCourses[i].courseID+"col"%> class="<% if(CourseData.datas.ownCourses.length > 2) {%>
                        collapse 
                        <% } else { %>
                        collapse 
                        <% } %>
                        ">

                    <li>
                        <a href="#">
                            ID: <%=CourseData.datas.ownCourses[i].courseID%>
                        </a>
                    </li>
                    <% for(var j=0; j<CourseData.datas.ownCourses[i].NoteData.length;j++){%>


                    <li>
                        <a href=<%="#"+CourseData.datas.ownCourses[i].NoteData[j].noteID%> id=<%=CourseData.datas.ownCourses[i].NoteData[j].noteID%> class="RenderNote"><i class="fa fa-pencil"></i>
                    <%=" "+CourseData.datas.ownCourses[i].NoteData[j].noteName %></a>
                    </li>                    
                    <% } %>

                    <li>
                        <a href="#" id=<%=CourseData.datas.ownCourses[i].courseID%> class="CourseAddNote">
                        <i class="fa fa-plus-circle"></i>

                        
                        Note
                        </a>
                    </li>
                </ul>
            </li>
            <% } %>

            <% for(var i=0; i<CourseData.datas.joinCourses.length;i++){%>
            <li>     
                <a href="javascript:;" data-toggle="collapse" data-target=<%="#"+CourseData.datas.joinCourses[i].courseID+"col"%>>
                        <i class="fa fa-folder-open"></i>
                        <%=CourseData.datas.joinCourses[i].courseName%>
                        <i class="fa fa-fw fa-caret-down"></i>
                        <span class="badge">
                            <%=CourseData.datas.joinCourses[i].NoteData.length%>   
                        </span>
                        <h6><span class="label label-pill label-info ">Join</span></h6>
                <div class="span12 text-center">
                </div>
                </a>
                <ul id=<%=CourseData.datas.joinCourses[i].courseID+"col"%> class="<% if(CourseData.datas.joinCourses.length > 2) {%>
                        collapse 
                        <% } else { %>
                        collapse 
                        <% } %>
                        ">
                    <li>
                        <a href="#">
                            ID: <%=CourseData.datas.joinCourses[i].courseID%>
                        </a>
                    </li>
                    <% for(var j=0; j<CourseData.datas.joinCourses[i].NoteData.length;j++){%>

                        <li>
                            <a href=<%="#"+CourseData.datas.joinCourses[i].NoteData[j].noteID%> id=<%=CourseData.datas.joinCourses[i].NoteData[j].noteID%> class="RenderNote">
                            <i class="fa fa-pencil"></i>
                            <%=CourseData.datas.joinCourses[i].NoteData[j].noteName %></a>
                        </li>                    
                    <% } %>

                    <li>
                        <a href="#" id=<%=CourseData.datas.joinCourses[i].courseID%> class="CourseAddNote">
<i class="fa fa-plus-circle"></i>
                        Note</a>
                    </li>
                </ul>
            </li>
            <% } %>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<%=user.emails%>